@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
*{
    scrollbar-color:#fff transparent ;
    scrollbar-width: thin;
}
.google {
  font-family: "Google Sans Code", monospace;
}
